<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guojunjie.springbootblog.dao.BlogTagMapper">
  <resultMap id="BaseResultMap" type="com.guojunjie.springbootblog.entity.BlogTag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, tag_name
  </sql>

  <select id="getTagByTagName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_blog_tag
    where tag_name = #{tagName}
  </select>

  <select id="getAllTags" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_blog_tag
  </select>
  <delete id="deleteTagById" parameterType="java.lang.Integer">
    delete from tb_blog_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="addTag" keyColumn="tag_id" keyProperty="tagId" parameterType="com.guojunjie.springbootblog.entity.BlogTag" useGeneratedKeys="true">
    insert into tb_blog_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="tagName != null">
        tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>