<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guojunjie.springbootblog.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="com.guojunjie.springbootblog.entity.Message">
        <id column="message_id" jdbcType="INTEGER" property="messageId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    message_id, content, create_time
  </sql>
    <insert id="addMessage" useGeneratedKeys="true" keyProperty="messageId" keyColumn="message_id"
            parameterType="com.guojunjie.springbootblog.entity.Message">
    insert into
    tb_message(content)
    values (#{content})
  </insert>
    <select id="getMessageList" resultMap="BaseResultMap">
        <bind name="start" value="(page - 1) * limit"/>
        select
        <include refid="Base_Column_List"/>
        from
        tb_message
        order by create_time desc
        limit #{start},#{limit}
    </select>
    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(0)
        from tb_message
    </select>

</mapper>